$admonition = darken(#64cac1,60%)
$admonition-dark = darken(desaturate(#64cac1,20%),20%)

$admonition-caution=#e0c380  

admonition(color)
  --admonition-color: color
  --admonition-background: alpha(color, 10%)
  --admonition-border: alpha(color, 20%)


:root
  admonition($admonition)
  .admonition-caution
    admonition(darken($admonition-caution, 30%))

body.bp3-dark
  admonition($admonition-dark)
  .admonition-caution
    admonition($admonition-caution)

.admonition
  display flex
  flex-direction: row
  align-items: baseline
  background var(--admonition-background)
  color var(--admonition-color)
  border 2px solid var(--admonition-border)
  .admonition-heading
    margin-right 0.5em
    width 1em
    height 1em
    .admonition-icon svg
      display: inline-flex
      fill var(--admonition-color)
      align-self baseline
      margin-bottom -0.3em
      margin-right 1em
    h5
      color transparent
      margin 0
      text-transform: uppercase

  clear both
  border-radius 6px
  padding 0.2em 1em
  padding-left 0.6em
  margin 1.5em 0 2em
  .admonition-content
    flex-grow 1
    font-size 0.8em
    margin 0.4em 0
    &>:first-child
      margin-top 0
    &>:last-child
      margin-bottom 0
    a
      color: var(--admonition-color)