.wrap
  max-width 50em
  margin 0 auto

:root
  --background-color: white
  --text-color: black
  --header-font: "Montserrat", Helvetica, sans-serif

@media (prefers-color-scheme: dark)
  :root
    --background-color: lighten(#161517, 2%)
    --text-color: lighten(#354a61, 70%)

*
  font-family "Merriweather", 'Times New Roman', Times, serif
  line-height 2
  color var(--text-color)

$accent-light=#a328b4
$secondary=#304e68
$bkg=#261e2d

body
  //background: linear-gradient(120deg, darken(rgba(34,29,38,1),30%) 0%, darken(rgba(52,45,79,1),50%) 100%);
  background: linear-gradient(120deg, lighten(rgba(34,29,38,1),90%) 0%, lighten(rgba(52,45,79,1),70%) 100%);
  //background-color: var(--background-color)
  position relative
  margin 0
  padding 0

h1,h2,h3,h4,h5,h6
  font-family: var(--header-font)
  color lighten($secondary,20%)

header
  display flex
  flex-direction row
  &>*
    margin-right 2em
  margin-right -2em
  nav ul
    display flex
    flex-flow: row wrap
    padding-left 0
    li
      margin-right 1em
      list-style: none
  .header-main a.page-title-link
    text-decoration: none
    color: var(--text-color)
  .header-image
    margin-left -10px

$grid_margin=1em

card()
  padding:0.35em 1.2em;
  border:0.1em solid #000000;
  margin:0 $grid_margin $grid_margin 0;
  border-radius:0.12em;
  box-sizing: border-box;
  //background: linear-gradient(95deg, #37445a 0%, #2c556b 100%);
  background: linear-gradient(95deg, lighten(#37445a, 60%) 0%, lighten(#2c556b,60%) 100%);

  h1,h2,h3,h4,h5,h6
    &:first-child
      margin-top 0.2em
    font-family: var(--header-font)
    color desaturate(lighten($accent-light, 20%), 40%)

a.link-button
  text-align: center
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #400C4A;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color:#000000;
  text-align:center;
  transition: all 0.2s;
  &:hover
    color:#000000;
    background-color:#eeeeee;

.callout-panel
  display grid
  grid-template-columns 50fr 50fr;
  margin-right -1*$grid_margin

  video
    width 380px

.callout
  card()
  flex-grow 1
  font-size 0.9em
  line-height 1.5em
  p
    text-align left


// Typography
p
  text-align: justify

.manifesto
  margin 1em 4em
  p
    text-align left
    font-weight 400
  &>*
    margin-right 1em
  margin-right -1em
  p, em, b, strong
    font-family var(--header-font)
  .buttons
    min-width 18em
  