.wrap
  max-width 50em
  margin 0 auto

*
  font-family "Merriweather", 'Times New Roman', Times, serif

h1,h2,h3,h4,h5,h6
  font-family: "Montserrat", Helvetica, sans-serif

header
  display flex
  flex-direction row
  &>*
    margin-right 2em
  margin-right -2em
  nav ul
    display flex
    flex-flow: row wrap
    padding-left 0
    li
      margin-right 1em
      list-style: none

a.link-button
  text-align: center
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #000000;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color:#000000;
  text-align:center;
  transition: all 0.2s;
  &:hover
    color:#000000;
    background-color:#eeeeee;
