$admonition = darken(#64cac1,60%)
$admonition-dark = darken(desaturate(#64cac1,20%),20%)

$admonition-caution=#e0c380

:root
  --code-color: #888888
  --code-background: alpha(#888888, 10%)
  --code-border: alpha(#888888, 20%)

admonition(color)
  --admonition-color: color
  --admonition-background: alpha(color, 10%)
  --admonition-border: alpha(color, 20%)


:root
  admonition($admonition)
  .admonition-caution
    admonition(darken($admonition-caution, 30%))

body.bp3-dark
  admonition($admonition-dark)
  .admonition-caution
    admonition($admonition-caution)

.admonition
  background var(--admonition-background)
  color var(--admonition-color)
  --code-color: var(--admonition-color)
  border 2px solid var(--admonition-border)
  line-height: 1.5em
  font-size: 0.9em
  clear: right
  h1, h2, h3, h4, h5, h6
    color: var(--admonition-color)
  .admonition-heading
    margin-right 0.5em
    width 1em
    height 1em
    .admonition-icon svg
      display: inline-flex
      fill var(--admonition-color)
      align-self baseline
      margin-bottom -0.3em
      margin-right 1em
    h5
      color transparent
      margin 0
      text-transform: uppercase

  border-radius 6px
  padding 1em
  margin 0.8em 0 1.5em
  &>:first-child
    margin-top: 0em
  &>:last-child
    margin-bottom: 0em
  .admonition-content
    flex-grow 1
    font-size 0.8em
    margin 0.4em 0
    &>:first-child
      margin-top 0
    &>:last-child
      margin-bottom 0
    a
      color: var(--admonition-color)

pre
  text-overflow: ellipsis
  display block
  overflow: hidden
  max-width 40em
  //max-width 35em // GOD this is dumb that we have to do this...
  font-size 0.9em
  &>code
    border none
    display block

// Code
code, pre
  //background var(--admonition-background)
  color var(--code-color)
  background var(--code-background) 
  border 2px solid var(--code-background)
  line-height: 1.5em
  font-size: 0.9em
  border-radius 4px

code
  padding 0 0.3em
  display inline-block

// Unset border for code in headings
h1, h2, h3, h4, h5, h6
  code
    border: none
