
// Larger screen changes
@media screen and (min-width 640px)
  figure.right, .version .content figure
    float right
    margin-right: 0
    margin-left: var(--figure-margin)
    clear right
  figure.left
    float left
    margin-left: 0
    margin-right var(--figure-margin)
    clear left

  .version-history .version
    display: flex
    flex-direction: row

@media screen and (min-width 700px)

  .callout-panel
    display: grid

  .callout.two-col, .manifesto
    flex-direction row

  .callout.two-col>*
    margin-right 2em
    &:last-child
      margin-right 0em

  nav .spacer
    width 0em

  header
    a.page-title-link
      grid-column 2
    .header-image
      grid-row 1 / span 2

  footer
    display flex
    flex-direction row
    justify-content: space-between
    p
      text-align: justify

@media screen and (min-width 840px)
  .wrap
    max-width 52em
  .section-main
    flex 1
    display flex
    flex-direction: column
    max-width: 100%
  .section-page .main
    display flex
    flex-direction row
    position relative
  .section-nav
    margin-right 2em
    margin-top 4em
    width 130px
    min-width 130px
    &>ul
      position sticky
      top 3em
      text-align right
      ul, li
        display block
        width 100%
        margin-right 0
      a.link-button
        width 100%

@media screen and (min-width 1100px)
  // Pull figures to the right
  .section-content figure.right, .version .content figure
    margin-right -8em