.version-history
  .version
    margin-bottom: 2em
    display: flex
    flex-direction: row
  .version-meta
    margin-right: 1em
    .link-button
      min-width: 12em

  .version-date
    font-size: 0.9em
    text-align: center

  .in-brief
    margin-top 0
    font-size: 0.9em
    line-height: 1.5em
    li
      margin-bottom: 0.5em

span.version-name.code
  font-family: var(--mono-font)
  font-weight: 400

.version-date
  color: var(--secondary-color)
  font-style: italic

.version-meta
  h1
    font-weight: 400
    line-height: 1.2em

  h2.version-date
    margin-top: 0
    font-size: 1.2em
    margin-bottom: 0.2em

  .version-info
    display: flex
    flex-direction: row
    justify-content: space-between

  margin-bottom: 1em

.tag
  display: inline-block
  margin-right: 0.5em
  margin-bottom: 0.5em
  padding: 0 0.5em
  border-radius: 0.2em
  background-color: var(--accent-background)
  color: var(--accent-color)
  font-size: 0.8em
  font-weight: 400

.gallery
  figure
    max-width: 400px